{%extends 'base.html' %}


{%block content %}  

<h1>
    {% if usuario.usuario %}
</h1>
        <form action=""  method="POST">       
            <p><label>Usuario: <b>{{usuario.usuario}}</b> </label> </p>
            <br>  
            <label>Nome</label>
            <input type="text"name="nome" placeholder="Alterar nome" id="nome" value={{usuario.nome}} >
            <br>
            <label>Email</label>
            <input type="email"name="email" placeholder="Alterar email" id="email" value={{usuario.email}} >
            <br>
            <button type="submit">Update</button>   
        </form>
    {%else%}
        <h1> Usuario nào cadastrado</h1>
    {%endif%}
{%endblock%}
